---
---
// Importar fuentes desde Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Bytesized&family=Space+Grotesk:wght@300..700&family=Overpass+Mono:wght@300..700&display=swap');
:root {
  --color-lila: {{ site.brand_colors.lila }};
  --color-gris: {{ site.brand_colors.crema_gris }};
  --color-azul: {{ site.brand_colors.azul_petroleo }};
  --color-rosado: {{ site.brand_colors.rosado }};
}

body {
  background-color: var(--color-lila);
  font-family: {{ site.fonts.paragraphs }};
  color: var(--color-azul);
}

a{
  color: black
}

a:visited{
  color: var(--color-azul)
}


h1, h2, h3 {
  font-family: {{ site.fonts.titles }};
}

.logo-text {
  font-family: {{ site.fonts.logo }};
  color: var(--color-azul);
}

.banner-intereses {
  background-color: var(--color-gris);
}

.home-about-link {
    text-decoration: none;
    color: inherit;
}

.home-about-link:visited {
    color: inherit;
}

.about_container {
    max-width: 1000px;
    margin: 4em auto;
    padding: 0 40px;
}

.about_content {
    display: flex;
    gap: 40px;
    align-items: flex-start;
}

.about_image img {
    width: 90%;
    border-radius: 20px;
}

@media (max-width: 768px) {
    .about_content {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .about_image img {
        width: 250px;
        max-width: 100%;
        margin-top: 20px;
    }
    .about_container {
        padding: 0 30px;
    }

}

.boton-cv {
  background-color: var(--color-rosado);
}

.btn-link {
    display: inline-block;

    background-color: var(--color-rosado);
    color: black;

    text-decoration: none;

    padding: 5px 14px;

    border: 1px solid black;
    border-radius: 15px;

    transition: all 0.2s ease;
}

.btn-link:hover {
    background-color: var(--color-lila);
    color: black;

    box-shadow: 3px 3px 0 black;
    transform: translateY(-2px);
}

.btn-link:visited {
    color: black;
}

.img-right {
    float: right;

    width: 300px;
    max-width: 40%;

    margin-left: 30px;
    margin-bottom: 20px;

    border-radius: 20px;
}

.img-small {

    display: block;
    width: 400px;
    max-width: 70%;
    border-radius: 20px;
    margin:auto;
}


.project_entry_container .content ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
    padding: 0;
    margin: 0;
}

.btn-back {
    display: inline-block;

    background-color: var(--color-gris);
    color: black;

    text-decoration: none;

    padding: 10px 18px;

    border: 2px solid black;
    border-radius: 12px;

    transition: all 0.2s ease;
}

.btn-back:hover {
    box-shadow: 4px 4px 0 black;
    transform: translateY(-2px);
}

.btn-back:visited {
    color: black;
}

.btn-special,
.btn-special:visited,
.btn-special:link {
    color: var(--color-lila);
    background-color: var(--color-azul);
    text-decoration: none;
    padding: 1px 10px;
    border: 2px solid black;
    border-radius: 12px;
    transition: all 0.2s ease;
}


.btn-special:hover {
    box-shadow: 4px 4px 0 black;
    background-color: black;
    color: var(--color-lila);

    transform: translateY(-2px);
}


.project_container .project_details img {
    max-width: 100%;
    height: auto;

    border-radius: 20px;

    filter: grayscale(100%);
    transition: all 0.3s ease;
}

.project_details a:hover img {
    filter: grayscale(0%);
    transform: translateY(-10px);
}

.project_container .project_details a {
    text-decoration: none;
}

.logo-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin-top: 10px;
}

.logo-gallery img {
    width: 60%;
    max-height: 140px;
    object-fit: contain;

    background-color: white;
    padding: 25px;
    border-radius: 20px;

    transition: all 0.3s ease;
}

.logo-gallery img:hover {
    transform: translateY(-8px);
}

.branding-gallery{
  display:flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 30px;

}
.branding-gallery img {
  width: 100%;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.branding-gallery img:hover {
  transform: translateY(-6px);
}

.section-divider{
  width: 100%;
  height: 8px;
  background: linear-gradient(
    to right,
    transparent,
    var(--color-lila),
    transparent
  );
  opacity: 0.8;
  margin: 30px 0;
}


.video-container {
    width: 100%;
    max-width: 800px;
    aspect-ratio: 16 / 9;
    margin: 20px auto;
}

.video-container iframe {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 20px;
}