---
---
// Importar fuentes desde Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Space+Grotesk:wght@300..700&family=Overpass+Mono:wght@300..700&display=swap');

:root {
  --color-lila: {{ site.brand_colors.lila }};
  --color-gris: {{ site.brand_colors.crema_gris }};
  --color-azul: {{ site.brand_colors.azul_petroleo }};
  --color-rosado: {{ site.brand_colors.rosado }};
  --color-gris-claro: {{ site.brand_colors.gris_claro}};

}

body {
  background-color: var(--color-lila);
  font-family: {{ site.fonts.paragraphs }};
  color: var(--color-azul);
}

a {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: rgb(57, 49, 144);
}

#main_menu {
  a {
    color: black;
    &:hover {
      color: black;
    }
    &:visited {
      color: black;
    }
  }
  
}


h1, h2, h3 {
  font-family: {{ site.fonts.titles }};
}

.logo-text {
  font-family: {{ site.fonts.logo }};
  color: var(--color-azul);
}

.banner-intereses {
  background-color: var(--color-gris);
}

.boton-cv {
  background-color: var(--color-rosado);
}

.project_details img,
.project_entry_container .content img:not(.md-icon) {
    border-radius: 25px;
}

.btn-back {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 18px;

    background-color: var(--color-gris);
    color: black;

    border: 2px solid black;
    border-radius: 12px;

    text-decoration: none;
    font-weight: 600;

    transition: all 0.2s ease;
}

.btn-back:hover {
    transform: translateY(-2px);
    box-shadow: 4px 4px 0 black;
}

.project_entry_container .content a {
    display: inline-block;
    background-color: var(--color-rosado);

    color: black;
    text-decoration: none;

    padding: 5px 14px;
    margin: 0;

    border: 1px solid black;
    border-radius: 10px;

    transition: all 0.2s ease;
    
}

.project_entry_container .content a:hover {
    background-color: var(--color-lila);
    box-shadow: 3px 3px 0 black;
    transform: translateY(-2px);
}

.project_entry_container .content ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
    padding: 0;
    margin: 0;

}

.project_details a > div {
    transition: transform 0.2s ease;
}

.project_details a:hover > div {
    transform: translateY(-20px);
}