html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#main_container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    min-height: 100vh; 
    width: 100%;
}

.navbar{
    display: flex;
    justify-content: flex-end;
    padding: 1rem 2rem;
    gap: 20px;
}

.nav-link {
    text-decoration: none;
    color: #000000;
    font-family: 'Overpass Mono', monospace;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    position: relative;
}


.home_container{
    display: grid;
    grid-template-columns: 1fr 20px 1.5fr;
    min-height: 100%;
}

.home_principal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
    grid-column: 1;
    
}

.home_principal button{
    color: white;
    background-color: #f89cff;
    border-radius: 50px;
    height: 40px;
    width: 100px;
}

.line {
    position: absolute;
    left: 35%;
    top: 0;
    bottom: 0;
    width: 50px;
    z-index: 5;
    
    background-image: url('../images/line.svg');
    background-size: 100% 20%;
    background-repeat: repeat-y;
}

.home_content {
    grid-column: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home_content p{
    font-family: 'Space Grotesk', sans-serif;
    max-width: 600px;
}
.home_content h1{
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 4em;
}

.home_content h2 {
    background: linear-gradient(
        to right,
        transparent 0%,
        rgb(247, 239, 228) 10%,
        rgb(247, 239, 228) 90%,
        transparent 100%
    );

    color: #4b4b66;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    padding: 10px 100px;
    margin: 15px 0;

    font-family: var(--font-titles);
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

.home_content .home_social_media{
    display: flex;
    flex-direction: rows;
}

.home_social_media a {
    width: 50px;
    height: 50px;
    margin: 0 10px;
}

.project_container {
    display: grid;
    grid-row: 2;
    grid-template-rows: 0.5fr 1fr;
    min-height: 100%; 
}

.project_container  .publications{
    margin-left: 10em;
    margin-top: 5em;
}

.project_container  .projects{
    margin-left: 10em;
}

.project_container .projects .project_details {
    display: grid;
    grid-column: 3;
    grid-template-columns: auto auto auto;
    
}

.project_container .projects .project_details img {
    max-width: 100%;
    height: auto;
}