---
layout: default
---
<div class="home_container">
    <div class="home_principal">
        <img src="assets/images/main_caro.PNG" alt="">
        <button>CV</button>
    </div>
    <div class="line"></div>
    <div class="home_content">
        <h1>CAROLINA SILVA</h1>
        <div><h2>ROBÓTICA + DISEÑO + ILUSTRACIÓN</h2></div>
        <p>Ingeniera mecatrónica enfocada en <b>Soft Robotics.</b>
           , animatrónica y diseño de sistemas interactivos.
           Además, encantada con la ilustración como una forma
           de conectar ciencia, tecnología y arte.
        </p>
        <div class="home_social_media">
            {% for social_media in site.data.social_media %}
                <a href="{{ social_media.url }}" target="_blank" rel="noopener noreferrer" aria-label="Ir a mi perfil de {{ social_media.name }}">
                    <img src="{{ social_media.icon | relative_url }}" alt="Icono {{ social_media.name }}">
                </a>
            {% endfor %}
        </div>
        
    </div>
</div>