---
layout: default
---
<div class="home_container">
    <div class="home_principal">
        <a href="{{ '/sobre-mi/' | relative_url }}" class="home-about-link">

            <div class="profile-container">
                <img src="assets/images/main_caro.gif"
                     alt="dibujo Caro"
                    class="profile-image drawing">
            </div>

        </a>
        <!--<button>CV</button> -->
    </div>
    <div class="line"></div>
    <div class="home_content">
        <a href="{{ '/sobre-mi/' | relative_url }}" class="home-about-link">
            <h1>CAROLINA SILVA</h1>
            <div><h2>PORTAFOLIO + ACTIVIDADES</h2></div>
        </a>
        <p>Me gusta construir cosas. A veces son robots, otras veces ilustraciones, experiencias o proyectos que mezclan tecnología y creatividad.
        </p>
        <p><i>Keywords: Soft Robotics, Design, Illustration, Cute Design</i></p>
        


        <div class="home_social_media">
            {% for social_media in site.data.social_media %}
                <a href="{{ social_media.url }}" target="_blank" rel="noopener noreferrer" aria-label="Ir a mi perfil de {{ social_media.name }}">
                    <img src="{{ social_media.icon | relative_url }}" alt="Icono {{ social_media.name }}">
                </a>
            {% endfor %}
        </div>
        
    </div>
</div>